<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Store </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mujeres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Catálogo</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hombres <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Catálogo</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-collapse navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>